<div class="card">
    <div class="card-header">
        <a href="/post/{{id}}" class="card-title">{{title}}</a>
    </div>

    <div class="card-body">
        <p class="card-body">{{post_body}}</p>
        <p class="card-text">Posted by: <span class="post-username">{{user.username}}</span>,
            <a href="/post/{{id}}">{{comments.length}}Comment</a>
        </p>
    </div>
</div>