<div class="post-input">
    <a href="/dashboard" class="dashboard-back">&larr; Dashboard</a>
    <h2 class="title-edit">Edit Blog Post</h2>

    <form class="edit-post">
        <div class="blog-title">
            <label for="post-title">Title:</label>
            <input type="text" name="post-title" class="post-title" value="{{post.title}}">
        </div>

        <div class="blog-body">
            <label for="post-body">Body:</label>
            <input type="text" name="post-body" class="post-title" value="{{post.post_body}}">
        </div>

        <div class="edit-details">
            Created on {{format_date post.date_created}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}}</a>
        </div>

        <button type="submit" class="btn publish-btn">Save</button>
        <button type="delete" class="btn delete-btn">Delete</button>
    </form>
</div>

<div class="comments">
    {{> comments post.comments}}
</div>

<script src="../public/javascript/editPost.js"></script>
<script src="../public/javascript/deletePost.js"></script>